<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Unicode CJKV Unified Ideographs IDS Database</title>
  <meta
    name="description"
    content="A CJKV Unified Ideographs IDS database that strives to express all IDS using Unicode characters"
  />

  <link rel="stylesheet" href="style.css" />
</html>

<body>
  <div class="island">
    <h1>CJKV Unified Ideographs IDS Database</h1>
    <h3>Legend</h3>
    <div>
      <span class="g">G</span>
      Has at least one complete IDS
    </div>

    <div>
      <span class="ng">NG</span>
      All IDSs available are incomplete
    </div>

    <h3>Metadata</h3>

    <div class="subtext">For machine consumption</div>
    <div class="file-entry">
      <div>
        <a href="{{metadata_json_name}}">{{metadata_json_name}}</a>
      </div>
      <span>{{metadata_source_cnt}} source IDS files</span>

      <span>{{"{0:.2f}".format(metadata_json_size / 1024)}} KB</span>
    </div>

    {% for ids_filename, ids_data in complete_metadata['ids_data'].items() %}
    <h3>{{ ids_filename }}</h3>
    <div class="stats">
      <div class="stats-cell">
        <span class="g">G</span>
        {{stats[ids_filename]["g_pc"] }}%
      </div>
      <div class="stats-cell">
        <span class="ng">NG</span>
        {{stats[ids_filename]["ng_pc"] }}%
      </div>
    </div>

    <!-- <div class="divider"></div> -->

    {% for key, val in ids_data.items() if "metadata" not in key %}
    <div class="file-entry">
      <div>
        <a href="{{val['file']}}">{{val["file"]}}</a>
      </div>

      <span>{{val["entries"]}} entries</span>

      <span>{{"{0:.2f}".format(val["size"] / 1024)}} KB</span>
    </div>
    {% endfor %} {% endfor %}
    <!-- <h3><a href="asdfjoi">IDS-UCS-Basic.txt</a></h3>

        <div class="stats">
            <div class="stats-cell">
                <span class="k">K</span>
                80%
            </div>
            <div class="stats-cell">
                <span class="e">E</span>
                85%
            </div>
            <div class="stats-cell">
                <span class="m">M</span>
                80%
            </div>
            <div class="stats-cell">
                <span class="p">P</span>
                75%
            </div>
            <div class="stats-cell">
                <span class="x">X</span>
                65%
            </div>
            <div class="stats-cell">
                <span class="u">U</span>
                100%
            </div>
        </div>

        <div class="divider"></div>

        <div class="file-entry">
            <div>
                <a href="sadf">RESOLVED_IDS-UCS-Ext-F.txt</a>
            </div>

            <span>100 entries</span>

            <span>12.3 MB</span>
        </div>

        <div class="file-entry">
            <div>
                <a href="sadf">RESOLVED_IDS-UCS-Ext-G.txt</a>
            </div>
            <span>100 entries</span>

            <span>12.3 MB</span>
        </div>

        <h3><a href="asdfjoi">IDS-UCS-Basic.txt</a></h3>

        <div class="stats">
            <div class="stats-cell">
                <span class="k">K</span>
                80%
            </div>
            <div class="stats-cell">
                <span class="e">E</span>
                85%
            </div>
            <div class="stats-cell">
                <span class="m">M</span>
                80%
            </div>
            <div class="stats-cell">
                <span class="p">P</span>
                75%
            </div>
            <div class="stats-cell">
                <span class="x">X</span>
                65%
            </div>
            <div class="stats-cell">
                <span class="u">U</span>
                100%
            </div>
        </div>

        <div class="divider"></div>

        <div class="file-entry">
            <div>
                <a href="sadf">RESOLVED_IDS-UCS-Ext-F.txt</a>
            </div>

            <span>100 entries</span>

            <span>12.3 MB</span>
        </div>

        <div class="file-entry">
            <div>
                <a href="sadf">RESOLVED_IDS-UCS-Ext-G.txt</a>
            </div>
            <span>100 entries</span>

            <span>12.3 MB</span>
        </div>

        <h3>Metadata</h3>

        <div class="file-entry">
            <div>
                <a href="sadf">metadata.json</a>
            </div>
            <span>4 source IDS files</span>

            <span>12.3 MB</span>
        </div> -->
  </div>

  <div class="island subtext">
    <div>Curated by Bryan Kok.</div>
    <div>
      Feedback welcome on
      <a href="https://github.com/Transfusion/cjkvi-ids-unicode">GitHub</a>.
    </div>

    <div>Generated on <code>{{complete_metadata["ts"]}}</code></div>
  </div>
</body>
